function load_video {
	if [ x$feature_all_video_module = xy ]
	then
		insmod all_video
	else
		insmod video_bochs
		insmod video_cirrus
		if test "${grub_platform}" == "efi"
		then
			insmod efi_gop
			insmod efi_uga
		elif test "${grub_platform}" == "pc"
		then
			insmod vbe
			insmod vga
		fi
	fi
}

if loadfont /boot/grub/font.pf2
then
	set gfxmode=auto
	export gfxmode
	load_video
	insmod gfxterm
	terminal_output gfxterm
	insmod gfxmenu
	insmod png
	set theme=/boot/grub/themes/zorin/theme.txt
	export theme
fi

set color_normal=white/black
set color_highlight=black/light-gray
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
set timeout=10
set timeout_style=menu

menuentry "Try or Install Petabyte" --class zorin {
	set gfxpayload=keep
	linux	/casper/vmlinuz boot=casper maybe-ubiquity quiet splash ---
	initrd	/casper/initrd.gz
}
menuentry "Try Petabyte With Safe Graphics" --class display {
	set gfxpayload=keep
	linux	/casper/vmlinuz boot=casper maybe-ubiquity quiet splash nomodeset ---
	initrd	/casper/initrd.gz
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'UEFI Firmware Settings' --class settings{
	fwsetup
}
fi
menuentry "Power Off" --class poweroff {
	halt
}
